<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="project-3/style.css">
  <script src="project-3/script.js"></script>
  <title>Index</title>
  <style id="compiled-css" type="text/css">

    #myChart1, #myChart2 {
       width: 600px;
       height: 700px;
       
    }
    .label {/*from  w  ww. ja  v  a 2  s  .  co  m*/
       text-align: center;
       width: 600px;
       font-size: 20px;
       font-weight: bold;
       margin: 20px;
    }
    .chart_container {
       float: left;
       
    }

    #map {
      width: 1000px ;
      height: 800px ;
    }

    .map_container{
      float:right;
    }


    
    </style> 


</head>

<body>
  <div id="b"></div>
  <div id="map_section">
  <div class="map_container">
  <select id="location-selector">
    <option value="Dallas">Dallas</option>
    <option value="SanAntonio">San Antonio</option>
    <option value="SanDiego">San Diego</option>
    <option value="LosAngeles">Los Angeles</option>
    <option value="Chicago">Chicago</option>
    <option value="NewYorkCity">New York City</option>
    <option value="Phoenix">Phoenix</option>
    <option value="Philadelphia">Philadelphia</option>
    <option value="Houston">Houston</option>
    <option value="Austin">Austin</option>
  </select>
  <select id="category-selector">
    <option value="Food">Food</option>
    <option value="Hotels">Hotels</option>
  </select>
  <div id="map"></div>
</div>
</div>


  <div id="a"></div>
  <div id="aligned">
      <div class="label">
          Hotels and Food in Selected Citites
      </div>
      <div class="chart_container"> 
          <canvas id="myChart1"></canvas> 
       </div> 
       <div class="chart_container"> 
          <canvas id="myChart2"></canvas> 
       </div> 

  </div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="app_v1.js"></script>
</body>
