<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index_v1</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script> 
  <style id="compiled-css" type="text/css">

#myChart1, #myChart2 {
   width: 600px;
   height: 650px;
}
.label {/*from  w  ww. ja  v  a 2  s  .  co  m*/
   text-align: center;
   width: 600px;
   font-size: 20px;
   font-weight: bold;
   margin: 20px;
}
.chart_container {
   float: left;
}
    
    
          </style> 
</head>

<body>
<div id="a"></div>
    <div id="aligned">
        <div class="label">
            Aligned
        </div>
        <div class="chart_container"> 
            <canvas id="myChart1"></canvas> 
         </div> 
         <div class="chart_container"> 
            <canvas id="myChart2"></canvas> 
         </div> 



    </div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="app_v1.js"></script>

</body>

</html>
